# Byte-compiled / optimized / DLL files
__pycache__

# Jupyter Notebook
.ipynb_checkpoints

# Environments
venv

.gitignore
README.md
train.py
arima.ipynb
netkeiba20220508.sqlite
Dockerfile
docker-compose.yml
docker-compose.deploy.yml
*.html
*.predict