# Byte-compiled / optimized / DLL files
__pycache__

# Jupyter Notebook
.ipynb_checkpoints

# Environments
venv

.DS_Store
.git
.gitignore
README.md
train.py
arima.ipynb
Dockerfile
docker-compose.yml
docker-compose.deploy.yml
netkeiba
feat
temp
catboost_info
train.log
netkeiba.log
update.sh